@model TheWorld.ViewModels.ContactViewModel
@{
  ViewBag.Title = "Contact Page";
}

@section scripts {
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Contact Me</h2>
<form method="post">
  <div asp-validation-summary="ModelOnly"></div>
  @if (ViewBag.UserMessage != null)
  {
    <div>@ViewBag.UserMessage</div>
  }
  <label asp-for="Name"></label>
  <input asp-for="Name" />
  <span asp-validation-for="Name"></span>
  <label asp-for="Email"></label>
  <input type="email" asp-for="Email" />
  <span asp-validation-for="Email"></span>
  <label asp-for="Message"></label>
  <textarea cols="40" rows="4" asp-for="Message"></textarea>
  <span asp-validation-for="Message"></span>
  <div>
    <input type="submit" value="Send Message" />
  </div>
</form>