@{
  ViewBag.Title = "Home Page";
}
<h1>The World</h1>
<p>This will be a fun website soon!</p>

<form>
  <div>
    <label>Date</label>
    <input />
  </div>
  <div>
    <label>Location</label>
    <input />
  </div>
  <div><input type="submit" value="Add" /></div>
</form>
