<div class="register-form">
  <img src="./assets/logo.png" width="320" />
  <h4>Register for New Account</h4>
  <form>
    <div class="form-group">
      <input class="form-control" name="username" placeholder="Requested User Name"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="email" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="password" type="password"  placeholder="Password"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="password-again" type="password"  placeholder="Password Again"/>
    </div>
    <button class="btn btn-default" routerLink="/sign-in" routerLinkActive="active">Cancel</button>
    <button class="btn btn-primary">Register</button>
  </form>
</div>
