
<div *screenBelowLarge class="title-bar-small">
    <span class="glyphicon glyphicon-menu-hamburger"
          (click)="menuService.toggleLeftSideMenu()">
    </span>
    <div class="small-image-holder">
        <img class="small-image" src="assets/logo.png">
    </div>
    <span class="glyphicon glyphicon-option-vertical"></span>
</div>

<div *screenLarge class="title-bar user-title-bar">
    <img src="assets/logo.png" alt="Green Nations Logo">
    <div class="menu-area" >
        <fw-top-bar>
        </fw-top-bar>
        <fw-menu *ngIf="!menuService.isVertical">
        </fw-menu>
    </div>
</div>
