<nav>
  <ul>
    <li *ngFor="let item of menuService.items">
      <fw-menu-item [item]="item"
                    [ngClass]="{'vertical-menu': menuService.isVertical }"
                    [parentIsPopup]="false">
      </fw-menu-item>
    </li>
  </ul>
</nav>

<button 
      *ngIf="!menuService.showingLeftSideMenu"
      class="btn btn-sm"
      [ngClass]="{'horizontal': !menuService.isVertical }"
      (click)="menuService.toggleMenuOrientation()">
  <span *ngIf="menuService.isVertical" class="glyphicon glyphicon-menu-up"></span>
  <span *ngIf="!menuService.isVertical" class="glyphicon glyphicon-menu-left"></span>
</button>