.errorMessage {
  color: #ce1313;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.inputError {
  border-bottom-color: #ce1313;
}

.input {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding:5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  font-size: 18px;

  &:focus {
      outline: none;
      border-bottom-color: #00afcc;
      border-bottom-width: 2px;
  }
}
