<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <ul class="list-unstyled">
        <li><a href="/auth/google" class="btn btn-danger googleplus"><i class="fa fa-google-plus"></i> Login with Google</a></li>
        <li><a href="/auth/twitter" class="btn btn-info twitter"><i class="fa fa-twitter"></i> Login with Twitter</a></li>
        <li><a href="/auth/facebook" class="btn btn-primary facebook"><i class="fa fa-facebook"></i> Login with Facebook</a></li>
      </ul>
    </div>
  </body>
</html>
