<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let field of vmDefinition">
      <fw-dynamic-field [field]="field" 
                        [form]="form" 
                        [operation]="operation" 
                        [submitted]="submitted">
      </fw-dynamic-field>
    </div>

    <div *ngIf="errorMessage " class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div *ngIf="status != 'waiting'">
      <div *ngIf="operation === 'details'">
        <button type="button" class="btn" (click)="onBack()" >Back</button>
        <button type="button" class="btn btn-primary" (click)="onEdit()" >Edit</button>
      </div>
      <div *ngIf="operation === 'edit'">
        <button type="button" class="btn" (click)="onCancel()" >Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSave()" >Save</button>
      </div>
      <div *ngIf="operation === 'create'">
        <button type="button" class="btn" (click)="onBack()" >Back</button>
        <button type="button" class="btn btn-primary" (click)="onCreate()" >Create</button>
      </div>
    </div>

    <div *ngIf="status === 'waiting'">
      Waiting...
    </div>

  </form>
</div>