@{
  ViewBag.Title = "Home Page";
}
@section Scripts {
  <script src="~/lib/underscore/underscore-min.js"></script>
  <script src="~/lib/angular/angular.min.js"></script>
  <script src="~/lib/angular-route/angular-route.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="~/lib/gmaps/gmaps.min.js"></script>
  <script src="~/lib/travelmap/travelmap.min.js"></script>

  <environment names="Development">
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
  </environment>

  <environment names="Production,Staging">
    <script src="~/lib/_app/simpleControls.js"></script>
    <script src="~/lib/_app/app-trips.js"></script>
    <script src="~/lib/_app/tripsController.js"></script>
    <script src="~/lib/_app/tripEditorController.js"></script>
  </environment>

}
<div class="row" ng-app="app-trips">

  <div ng-view></div>

</div>
