body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.total-label {
  font-weight: bold;
}

.amount-field {
  width: 50px;
}

.errorMsg {
    background-color: #a20000;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
}
