<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGeoService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGeoService" contract="ServiceReference1.IGeoService"
                name="NetTcpBinding_IGeoService">
                <identity>
                    <userPrincipalName value="MOBILE5\Miguel" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
