:host {
    position: absolute; /* absolute protoze pluje okolo objektu */
    display: inline-block;
    width: 162px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 5px #aaa;
}

:host(.vertical-menu) {
    position: static; /* bude embeded pod parentem */
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 2px 0 0 0;
}
