.top-bar-title {
    font-size: 22px;
    color: #ffffff;
}

.admin-menu a {
    color: #ffffff;
}

.mini-img {
    height: 100px;
    width: 100px;
}

.spacer {
    padding-top: 20px;
    border-top: solid 1px #000000;
   
}